<p id="notice"><%= notice %></p>

<p>
  <strong>Engineer:</strong>
  <%= @assignment.engineer_id %>
</p>

<p>
  <strong>Service:</strong>
  <%= @assignment.service_id %>
</p>

<%= link_to 'Edit', edit_assignment_path(@assignment) %> |
<%= link_to 'Back', assignments_path %>
