<p id="notice"><%= notice %></p>

<p>
  <strong>Working date:</strong>
  <%= @working_date.working_date %>
</p>

<p>
  <strong>Day type:</strong>
  <%= @working_date.day_type %>
</p>

<%= link_to 'Edit', edit_working_date_path(@working_date) %> |
<%= link_to 'Back', working_dates_path %>
